
    <h2>Login</h2>
    <form class="form login-form">
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
        <button type="submit">login</button>
    </form>
<script src="./js/login.js"></script>
