
    <h2>Signup</h2>
    <form class="form signup-form">
        <label for="name-signup">name:</label>
        <input  type="text" id="name-signup" />
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
        <label for="mobile-signup">mobile:</label>
        <input type="mobile" id="mobile-signup" />
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
        <button type="submit">signup</button>
    </form>

  <script src="./js/signup.js"></script>
